#backgroundMainContainer {
    background-image: url(prayer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}
nav{
    position: fixed;
    background: #efefef;
    top: 0;
    width: 100%;
}
#navList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: right;
    background-color: #efefef;
    float: right;
}
#navList li{
    float: left;
    margin: 10px;
    padding: 10px;
    border-right: 1px solid rgb(36, 34, 34);
}

#navList li:last-child {
    border-right: none;
  }

#Logo {
    width: 5rem;
}
section {
    border-style: solid;
    border-color: black;
    display: block;
    margin-top: 6rem;
    box-shadow: 2px gray;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}